*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: #222;
  text-align: center;
  padding: 10px 0;
}

header h1{
  color: #FFF
}

header i{
  margin-right: 7px;
}

.search-area{
  text-align: center;
  padding: 10px 0;
}

.search-area input{
  margin-right: 5px;
}

.search-area button{
  padding: 4px 0;
}